In [1]:
import pandas as p

In [2]:
inlikes = p.read_csv("INVideosLikes.csv")
indislikes = p.read_csv("INVideosDislikes.csv")
inviews = p.read_csv("INVideosViews.csv")

In [3]:
inlikes.describe()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Category
count,35798.000000,35798.000000,35798.000000,35798.000000,35798.000000,35798.000000
mean,17898.500000,17898.500000,17898.500000,17898.500000,18320.733728,21.517683
std,10334.136805,10334.136805,10334.136805,10334.136805,10578.305747,6.596569
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,8949.250000,8949.250000,8949.250000,8949.250000,9136.250000,23.000000
50%,17898.500000,17898.500000,17898.500000,17898.500000,18322.500000,24.000000
75%,26847.750000,26847.750000,26847.750000,26847.750000,27523.750000,24.000000
max,35797.000000,35797.000000,35797.000000,35797.000000,36570.000000,43.000000

In [4]:
def statmod(likes):
    if(likes>0 and likes<=900):
        return "low"
    if(likes>900 and likes<=3100):
        return "ok"
    if(likes>3100 and likes<=14000):
        return "decent"
    if(likes>14000):
        return "high"

In [5]:
inlikes.dropna(inplace=True)
indislikes.dropna(inplace=True)
inviews.dropna(inplace=True)

In [ ]:
inlikes["Likes"] = inlikes["Likes"].map(statmod)
indislikes["Dislikes"] = indislikes["Dislikes"].map(statmod)
inviews["Views"] = inviews["Views"].map(statmod)

In [6]:
inlikes.to_csv("INVideosLikes.csv")
indislikes.to_csv("INVideosDislikes.csv")
inviews.to_csv("INVideosViews.csv")

In [7]:
cadislikes = p.read_csv("CAVideosDislikes.csv")
calikes = p.read_csv("CAVideosLikes.csv")
caviews = p.read_csv("CAVideosViews.csv")

In [8]:
caviews.describe()

         Unnamed: 0   category_id
count  40881.000000  40881.000000
mean   20440.000000     20.795553
std    11801.472514      6.775054
min        0.000000      1.000000
25%    10220.000000     20.000000
50%    20440.000000     24.000000
75%    30660.000000     24.000000
max    40880.000000     43.000000

In [9]:
def statmod1(likes):
    if(likes>0 and likes<=150000):
        return "low"
    if(likes>150000 and likes<=400000):
        return "ok"
    if(likes>400000 and likes<=1000000):
        return "decent"
    if(likes>1000000):
        return "high"

In [11]:
caviews.dropna(inplace=True)
cadislikes.dropna(inplace=True)
calikes.dropna(inplace=True)

In [ ]:
cadislikes["Dislikes"] = cadislikes["Dislikes"].map(statmod1)
calikes["Likes"] = calikes["Likes"].map(statmod1)
caviews["views"] = caviews["views"].map(statmod1)

In [12]:
caviews.to_csv("CAVideosViews.csv")
cadislikes.to_csv("CAVideosDislikes.csv")
calikes.to_csv("CAVideosLikes.csv")

In [13]:
deviews = p.read_csv("DEVideosViews.csv")
delikes = p.read_csv("DEVideosLikes.csv")
dedislikes = p.read_csv("DEVideosDislikes.csv")

In [14]:
deviews.describe()

         Unnamed: 0   category_id
count  30551.000000  30551.000000
mean   20281.796373     20.773559
std    11682.105000      6.975509
min        1.000000      1.000000
25%    10263.500000     20.000000
50%    20258.000000     24.000000
75%    30316.500000     24.000000
max    40838.000000     44.000000

In [15]:
def statmod2(likes):
    if(likes>0 and likes<=30000):
        return "low"
    if(likes>30000 and likes<=120000):
        return "ok"
    if(likes>1200000 and likes<=450000):
        return "decent"
    if(likes>450000):
        return "high"

In [ ]:
dedislikes["dislikes"] = dedislikes["dislikes"].map(statmod2)
delikes["likes"] = delikes["likes"].map(statmod2)

In [28]:
deviews["views"] = deviews["views"].map(statmod2)

In [16]:
deviews.dropna(inplace=True)
dedislikes.dropna(inplace=True)
delikes.dropna(inplace=True)

In [17]:
deviews.to_csv("DEVideosViews.csv")
dedislikes.to_csv("DEVideosDislikes.csv")
delikes.to_csv("DEVideosLikes.csv")

In [18]:
frlikes = p.read_csv("FRVideosLikes.csv")
frviews = p.read_csv("FRVideosViews.csv")
frdislikes = p.read_csv("FRVideosDislikes.csv")

In [19]:
frlikes.describe()

         Unnamed: 0   category_id
count  40009.000000  40009.000000
mean   20383.686945     20.122572
std    11763.534549      6.979246
min        0.000000      1.000000
25%    10196.000000     17.000000
50%    20375.000000     23.000000
75%    30585.000000     24.000000
max    40723.000000     44.000000

In [20]:
def statmod3(likes):
    if(likes>0 and likes<=400):
        return "low"
    if(likes>400 and likes<=2000):
        return "ok"
    if(likes>2000 and likes<=8000):
        return "decent"
    if(likes>8000):
        return "high"

In [22]:
frviews.dropna(inplace=True)
frlikes.dropna(inplace=True)
frdislikes.dropna(inplace=True)

In [ ]:
frdislikes["dislikes"] = frdislikes["dislikes"].map(statmod3)
frlikes["likes"] = frlikes["likes"].map(statmod3)
frviews["views"] = frviews["views"].map(statmod3)

In [23]:
frviews.to_csv("FRVideosViews.csv")
frdislikes.to_csv("FRVideosDislikes.csv")
frlikes.to_csv("FRVideosLikes.csv")

In [24]:
gblikes = p.read_csv("GBVideosLikes.csv")
gbviews = p.read_csv("GBVideosViews.csv")
gbdislikes  = p.read_csv("GBVideosDislikes.csv")

In [25]:
gblikes.describe()

         Unnamed: 0   category_id
count  38644.000000  38644.000000
mean   19466.304730     16.864610
std    11238.831822      7.719096
min        0.000000      1.000000
25%     9741.750000     10.000000
50%    19453.500000     20.000000
75%    29209.250000     24.000000
max    38915.000000     43.000000

In [26]:
def statmod4(likes):
    if(likes>0 and likes<=6000):
        return "low"
    if(likes>6000 and likes<=30000):
        return "ok"
    if(likes>30000 and likes<=150000):
        return "decent"
    if(likes>150000):
        return "high"

In [44]:
gblikes["likes"] = gblikes["likes"].map(statmod4)
gbviews["views"] = gbviews["views"].map(statmod4)
gbdislikes["dislikes"] = gbdislikes["dislikes"].map(statmod4)

In [27]:
gbdislikes.dropna(inplace=True)
gblikes.dropna(inplace=True)
gbviews.dropna(inplace=True)

In [28]:
gbviews.to_csv("GBVideosViews.csv")
gbdislikes.to_csv("GBVideosDislikes.csv")
gblikes.to_csv("GBVideosLikes.csv")

In [30]:
jplikes = p.read_csv("JPVideosLikes.csv")
jpdislikes = p.read_csv("JPVideosDislikes.csv")
jpviews = p.read_csv("JPVideosViews.csv")

In [31]:
jpdislikes.describe()

           Category       Dislikes
count  20523.000000   20523.000000
mean      19.807533     366.823613
std        6.655895    2658.598540
min        1.000000       0.000000
25%       17.000000       9.000000
50%       22.000000      43.000000
75%       24.000000     178.000000
max       29.000000  119053.000000

In [32]:
def statmod5(likes):
    if(likes>0 and likes<=15):
        return "low"
    if(likes>15 and likes<=50):
        return "ok"
    if(likes>50 and likes<=200):
        return "decent"
    if(likes>200):
        return "high"

In [33]:
jpdislikes["Dislikes"] = jpdislikes["Dislikes"].map(statmod5)
jplikes["Likes"] = jplikes["Likes"].map(statmod5)
jpviews["Views"] = jpviews["Views"].map(statmod5)

In [34]:
jpviews.dropna(inplace=True)
jplikes.dropna(inplace=True)
jpdislikes.dropna(inplace=True)

In [35]:
jpviews.to_csv("JPVideosViews.csv")
jplikes.to_csv("JPVideosLikes.csv")
jpdislikes.to_csv("JPVideosDislikes.csv")

In [36]:
krlikes = p.read_csv("KRVideosLikes.csv")
krdislikes = p.read_csv("KRVideosDislikes.csv")
krviews = p.read_csv("KRVideosViews.csv")

In [37]:
krlikes.describe()

        category_id         likes
count  34567.000000  3.456700e+04
mean      21.137675  1.218642e+04
std        6.675455  1.170531e+05
min        1.000000  0.000000e+00
25%       22.000000  4.120000e+02
50%       24.000000  1.389000e+03
75%       25.000000  3.704500e+03
max       44.000000  5.150839e+06

In [38]:
def statmod6(likes):
    if(likes>0 and likes<=500):
        return "low"
    if(likes>500 and likes<=1500):
        return "ok"
    if(likes>1500 and likes<=4000):
        return "decent"
    if(likes>4000):
        return "high"

In [39]:
krlikes["likes"] = krlikes["likes"].map(statmod6)
krdislikes["dislikes"] = krdislikes["dislikes"].map(statmod6)
krviews["views"] = krviews["views"].map(statmod6)

In [40]:
krlikes.dropna(inplace=True)
krviews.dropna(inplace=True)
krdislikes.dropna(inplace=True)

In [41]:
krlikes.to_csv("KRVideosLikes.csv")
krviews.to_csv("KRVideosViews.csv")
krdislikes.to_csv("KRVideosDislikes.csv")

In [42]:
rulikes = p.read_csv("RUVideosLikes.csv")
ruviews = p.read_csv("RUVideosViews.csv")
rudislikes = p.read_csv("RUVideosDislikes.csv")

In [43]:
rulikes.describe()

        category_id         likes
count  40739.000000  4.073900e+04
mean      20.261936  1.243522e+04
std        7.890955  6.038280e+04
min        1.000000  0.000000e+00
25%       20.000000  4.025000e+02
50%       22.000000  1.880000e+03
75%       25.000000  7.791000e+03
max       43.000000  4.470923e+06

In [44]:
 def statmod7(likes):
     if(likes>0 and likes<=500):
         return "low"
     if(likes>500 and likes<=2000):
         return "ok"
     if(likes>2000 and likes<=8000):
         return "decent"
     if(likes>8000):
         return "high"

In [45]:
rulikes["likes"] = rulikes["likes"].map(statmod7)
rudislikes["dislikes"] = rudislikes["dislikes"].map(statmod7)
ruviews["views"] = ruviews["views"].map(statmod7)

In [46]:
rulikes.dropna(inplace=True)
ruviews.dropna(inplace=True)
rudislikes.dropna(inplace=True)

In [47]:
rudislikes.to_csv("RUVideosDislikes.csv")
rulikes.to_csv("RUVideosLikes.csv")
ruviews.to_csv("RUVideosViews.csv")

In [48]:
mxviews = p.read_csv("MXVideosViews.csv")
mxlikes = p.read_csv("MXVideosLikes.csv")
mxdislikes = p.read_csv("MXVideosDislikes.csv")

In [49]:
mxviews.describe()

        category_id         views
count  40451.000000  4.045100e+04
mean      21.003140  3.423820e+05
std        5.878995  1.714691e+06
min        1.000000  1.570000e+02
25%       20.000000  1.681300e+04
50%       24.000000  5.697300e+04
75%       24.000000  2.068940e+05
max       43.000000  1.009124e+08

In [50]:
def statmod8(likes):
    if(likes>0 and likes<=20000):
        return "low"
    if(likes>20000 and likes<=60000):
        return "ok"
    if(likes>60000 and likes<=250000):
        return "decent"
    if(likes>250000):
        return "high"

In [51]:
mxlikes["likes"] = mxlikes["likes"].map(statmod8)
mxdislikes["dislikes"] = mxdislikes["dislikes"].map(statmod8)
mxviews["views"] = mxviews["views"].map(statmod8)

In [52]:
mxviews.dropna(inplace=True)
mxlikes.dropna(inplace=True)
mxdislikes.dropna(inplace=True)

In [53]:
mxviews.to_csv("MXVideosViews.csv")
mxlikes.to_csv("MXVideosLikes.csv")
mxdislikes.to_csv("MXVideosDislikes.csv")

In [2]:
usviews = p.read_csv("USVideosViews.csv")
uslikes = p.read_csv("USVideosLikes.csv")
usdislikes = p.read_csv("USVideosDislikes.csv")

In [3]:
usviews.describe()

           category         views
count  40949.000000  4.094900e+04
mean      19.972429  2.360785e+06
std        7.568327  7.394114e+06
min        1.000000  5.490000e+02
25%       17.000000  2.423290e+05
50%       24.000000  6.818610e+05
75%       25.000000  1.823157e+06
max       43.000000  2.252119e+08

In [4]:
def statmod9(likes):
    if(likes>0 and likes<=300000):
        return "low"
    if(likes>300000 and likes<=700000):
        return "ok"
    if(likes>700000 and likes<=2000000):
        return "decent"
    if(likes>2000000):
        return "high"

In [5]:
usdislikes["dislikes"] = usdislikes["dislikes"].map(statmod9)
usviews["views"] = usviews["views"].map(statmod9)
uslikes["likes"] = uslikes["likes"].map(statmod9)

In [5]:
usdislikes.dropna(inplace=True)
uslikes.dropna(inplace=True)
usviews.dropna(inplace=True)

In [8]:
uslikes.to_csv("USVideosLikes.csv")
usviews.to_csv("USViews.csv")
usdislikes.to_csv("USVideosDislikes.csv")